html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    background: white;
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
    -webkit-backface-visibility:hidden; /* Remove if you got display issues */
}
.curtains>li:first-child{z-index:2;}

.curtains>li:first-child, .curtains>li:nth-child(1){
    display: block;
}